<div class="mdc-layout-grid cf-login-container">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-4">
        </div>
        <div class="mdc-layout-grid__cell--span-4">
            <cf-form
                *ngIf="loginForm"
                [formConfig]="loginForm"
                [sourceIndex]="sourceIndex"
                [record]="record"
                [reset]="reset"
                class="cf-login-form"
                (onFieldChange)="fieldChange($event)"
                (onFormChange)="formChange($event)"
                (onButtonClick)="buttonClick($event)"
            ></cf-form>
        </div>
        <div class="mdc-layout-grid__cell--span-4">
        </div>
    </div>
</div>