<div class="mdc-layout-grid cf-login-container" *ngIf="registrationFormConfig">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-3">
        </div>
        <div class="mdc-layout-grid__cell--span-6">
            <cf-form
                [formConfig]="registrationFormConfig"
                [sourceIndex]="sourceIndex"
                [record]="registration"
                [reset]="reset"
                [form]="registrationForm"
                class="cf-login-form"
                (onFieldChange)="fieldChange($event)"
                (onFormChange)="formChange($event, sourceIndex, registrationFormConfig)" 
                (onButtonClick)="buttonClick($event)"
            ></cf-form>
        </div>
        <div class="mdc-layout-grid__cell--span-3">
        </div>
    </div>
    <div class="mdc-layout-grid__inner cf-registration-form-separator">
        <div class="mdc-layout-grid__cell--span-3">
        </div>
        <div class="mdc-layout-grid__cell--span-6">
            <mat-card>
                <mat-card-content>
                    <div class="mdc-layout-grid cf-registration-button-row">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--align-middle">
                                <strong>My Address</strong>
                            </div>
                            <div class="mdc-layout-grid__cell--span-6 mdc-layout-grid--align-right mdc-layout-grid__cell--align-middle">
                                <cf-button 
                                    [form]="registrationForm"
                                    [sourceIdentifier]="registrationFormConfig.identifier"
                                    [sourceIndex]="sourceIndex" 
                                    [button]="addAddressButton"
                                    [context]="" 
                                    (onClick)="buttonClick($event);$event.event.stopPropagation()"
                                ></cf-button> 
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="mdc-layout-grid__cell--span-3"> 
        </div>
    </div>
    <div class="mdc-layout-grid__inner cf-registration-form-separator">
        <div class="mdc-layout-grid__cell--span-3">
        </div>
        <div class="mdc-layout-grid__cell--span-6" *ngIf="registration && registration.addresses">
            <cf-form
                *ngFor="let address of registration.addresses; let aIndex = index;"
                [formConfig]="userAddressFormConfig"
                [form]="addressForms[aIndex]"
                [sourceIndex]="aIndex"
                [record]="address"
                [reset]="reset"
                class="cf-login-form"
                (onFieldChange)="fieldChange($event)"
                (onFormChange)="formChange($event, aIndex, userAddressFormConfig)" 
                (onButtonClick)="buttonClick($event)"
            ></cf-form>
        </div>
        <div class="mdc-layout-grid__cell--span-3">
        </div>
    </div>
    <div class="mdc-layout-grid__inner cf-registration-form-separator">
        <div class="mdc-layout-grid__cell--span-3">
        </div>
        <div class="mdc-layout-grid__cell--span-6">
            <mat-card>
                <mat-card-actions>
                    <div class="mdc-layout-grid cf-registration-button-row">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell--span-12 mdc-layout-grid--align-right mdc-layout-grid__cell--align-middle">
                                <cf-button 
                                    [form]="registrationForm"
                                    [sourceIdentifier]="registrationFormConfig.identifier"
                                    [sourceIndex]="sourceIndex" 
                                    [button]="cancelRegistrationButton"
                                    [context]="" 
                                    (onClick)="buttonClick($event);$event.event.stopPropagation()"
                                ></cf-button> 
                                <cf-button 
                                    [form]="registrationForm"
                                    [sourceIdentifier]="registrationFormConfig.identifier"
                                    [sourceIndex]="sourceIndex" 
                                    [button]="doRegistrationButton"
                                    [context]="" 
                                    (onClick)="buttonClick($event);$event.event.stopPropagation()"
                                ></cf-button> 
                            </div>
                        </div>
                    </div>
                </mat-card-actions> 
            </mat-card>
        </div>
        <div class="mdc-layout-grid__cell--span-3"> 
        </div>
    </div>
</div>