.cf-communication-template-form-separator {
    padding-top: 12px;
}

.cf-communication-template-button-row {
    padding: 0px !important;
}

.cf-field-key-description {
    font-style: italic;
    color: rgba(0, 0, 0, 0.54);
}

.cf-message-form .cf-message-form {
    padding-top: 16px;
}

.cf-template-buttons {
    width: 100% !important; 
}

.cf-cancel-button {
    padding-right: 8px;
}