<cf-crud-list  
    *ngIf="configListData && configListData.records && !action"
    [identifier]="identifier" 
    [header]="header" 
    [actions]="actions" 
    [actionPages]="actionPages"

    [listReset]="listReset"
    [quickLinks]="quickLinks" 
    [searchConfig]="searchConfig"  
    [listConfig]="listConfig" 
    [keyMap] = "keyMap"
    [configData]="configListData"  

    (onButtonClick)="buttonClick($event)"
    (onFieldChange)="fieldChange($event)"
    (onSortClick)="onSort($event)"
    (onPageClick)="onPage($event)"
></cf-crud-list>

<div 
    class="mdc-layout-grid cf-login-container" 
    *ngIf="communicationTemplateFormConfig && action">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-3" *ngIf="isDesktop">
        </div>
        <div class="mdc-layout-grid__cell--span-{{isMobile || isTablet ? cellCount : 6}}">
            <!-- 1{{supportingRecord | json}}1 -->
            <!-- <pre>
                2{{communicationTemplate | json}}2
            </pre> -->
            <cf-form
                [formConfig]="communicationTemplateFormConfig"
                [sourceIndex]="sourceIndex"
                [record]="communicationTemplate"
                [reset]="reset" 
                [form]="communicationTemplateForm"
                class="cf-login-form"
                (onFieldChange)="fieldChange($event)"
                (onFormChange)="formChange($event, sourceIndex, communicationTemplateFormConfig)" 
                (onButtonClick)="buttonClick($event)"
            ></cf-form>
        </div>
        <div class="mdc-layout-grid__cell--span-3" *ngIf="isDesktop">
        </div>
    </div>
    <div class="mdc-layout-grid__inner cf-communication-template-form-separator">
        <div class="mdc-layout-grid__cell--span-3" *ngIf="isDesktop">
        </div>
        <div class="mdc-layout-grid__cell--span-{{isMobile || isTablet ? cellCount : 6}}">
            <mat-card>
                <mat-card-content>
                    <div class="mdc-layout-grid cf-communication-template-button-row">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell--span-{{cellCount / 2}} mdc-layout-grid__cell--align-middle">
                                <strong>Message(s)</strong>
                            </div>
                            <div class="mdc-layout-grid__cell--span-{{cellCount / 2}} mdc-layout-grid--align-right mdc-layout-grid__cell--align-middle">
                                <cf-button 
                                    *ngIf="messageFormConfig.displayMode == 'ADD' || messageFormConfig.displayMode == 'EDIT'"
                                    [form]="communicationTemplateForm"
                                    [sourceIdentifier]="communicationTemplateFormConfig.identifier"
                                    [sourceIndex]="sourceIndex" 
                                    [button]="addMessageButton"
                                    [context]="" 
                                    (onClick)="buttonClick($event);$event.event.stopPropagation()"
                                ></cf-button> 
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="mdc-layout-grid__cell--span-3" *ngIf="isDesktop"> 
        </div>
    </div> 
    <div class="mdc-layout-grid__inner cf-communication-template-form-separator">
        <div class="mdc-layout-grid__cell--span-3" *ngIf="isDesktop">
        </div>
        <div class="mdc-layout-grid__cell--span-{{isMobile || isTablet ? cellCount : 6}}" *ngIf="communicationTemplate && communicationTemplate.messages">
            <cf-form 
                *ngFor="let message of messageArray(communicationTemplate.messages); let aIndex = index;"
                [formConfig]="messageFormConfig"
                [form]="messageForms[aIndex]"
                [sourceIndex]="aIndex"
                [supportingRecord]="communicationTemplate"
                [record]="message"
                [reset]="reset"
                class="cf-message-form"
                (onFieldChange)="fieldChange($event)"
                (onFormChange)="formChange($event, aIndex, messageFormConfig)" 
                (onButtonClick)="buttonClick($event)"
            ></cf-form>
        </div>
        <div class="mdc-layout-grid__cell--span-3" *ngIf="isDesktop">
        </div>
    </div>
    <div class="mdc-layout-grid__inner cf-communication-template-form-separator">
        <div class="mdc-layout-grid__cell--span-3" *ngIf="isDesktop">
        </div> 
        <div class="mdc-layout-grid__cell--span-{{isMobile || isTablet ? cellCount : 6}}">
            <mat-card>
                <mat-card-actions>
                    <div class="mdc-layout-grid cf-communication-template-button-row">
                        <div class="mdc-layout-grid__inner">
                            <div
                                [ngClass]="{'cf-template-buttons': isMobile || isTablet}" 
                                class="mdc-layout-grid__cell--span-{{cellCount}} mdc-layout-grid--align-right mdc-layout-grid__cell--align-middle">
                                <cf-button 
                                    class="cf-cancel-button"
                                    [form]="communicationTemplateForm"
                                    [sourceIdentifier]="communicationTemplateFormConfig.identifier"
                                    [sourceIndex]="sourceIndex" 
                                    [button]="cancelCommunicationTemplateButton"
                                    [context]="" 
                                    (onClick)="buttonClick($event);$event.event.stopPropagation()"
                                ></cf-button> 
                                <cf-button 
                                    *ngIf="communicationTemplateFormConfig.displayMode == 'ADD' || communicationTemplateFormConfig.displayMode == 'EDIT'"
                                    [form]="communicationTemplateForm"
                                    [sourceIdentifier]="communicationTemplateFormConfig.identifier"
                                    [sourceIndex]="sourceIndex" 
                                    [button]="doCommunicationTemplateButton"
                                    [context]="" 
                                    (onClick)="buttonClick($event);$event.event.stopPropagation()"
                                ></cf-button> 
                            </div>
                        </div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="mdc-layout-grid__cell--span-3" *ngIf="isDesktop"> 
        </div>
    </div>
</div>