<!-- <cf-dynamic-list
    [listConfig]="basicList"
    [parent]="parent"
    [listReset]="listReset"
    [keyMap]="keyMap"
    [record]="record"
></cf-dynamic-list> -->

<cf-static-list
    [listConfig]="basicList"
    [parent]="parent"
    [listReset]="listReset"
    [keyMap]="keyMap"
    [record]="record"
    (onFormChange)="formChange($event)"
    (onFieldChange)="fieldChange($event)"
    (onButtonClick)="buttonClick($event)"
    (onPageChange)="onPage($event)"
    (onSortChange)="onSort($event)"  
></cf-static-list>

<!-- [expanded]="expanded" -->
