<!-- <pre>
    {{configListData | json}}
    Setting listReset: {{listReset}}<br/>
</pre> -->
<cf-crud-list  
    *ngIf="categoryKey == null || subCategoryKey == null"
    [identifier]="identifier" 
    [header]="header" 
    [actions]="actions" 
    [actionPages]="actionPages"

    [listReset]="listReset" 
    [quickLinks]="quickLinks" 
    [listConfig]="listConfig" 
    [keyMap] = "keyMap"
    [configData]="configListData"

    [expandRowIndex]="expandRowIndex"
 
    (onButtonClick)="buttonClick($event)"
    (onFieldChange)="fieldChange($event)"
    (onFormChange)="formChange($event)"
    (onSortClick)="onSort($event)"
    (onPageClick)="onPage($event)"
></cf-crud-list>
<!-- [searchConfig]="searchConfig"  -->

<cf-setting-master-data
    *ngIf="categoryKey != null && subCategoryKey != null"
    [categoryKey]="categoryKey"
    [subCategoryKey]="subCategoryKey"
></cf-setting-master-data>