.cf-rule-child-list .cf-table-rule {
    padding: 0px !important;
    margin-left: 1%;
    border-left-color: whitesmoke;
    border-left-width: 2px;
    border-left-style: groove;
    border-bottom-width: 0px;
}

.cf-table-rule {
    padding: 0px !important;
    margin-left: 1%;
    border-left-color: whitesmoke;
    border-left-width: 2px;
    border-left-style: groove;
    border-bottom-width: 0px;
} 

.cf-table-rule, .td.mat-cell {
    border-bottom-width: 0px !important;
}

.cf-condition-list {
    margin: 20px;
}