.cf-property .cf-field-key-description {
    font-size: 12px;
    color: #0000008a;
    // padding-left: 24px;
}

.cf-property .cf-field-key-key {
    // padding-left: 24px;
}

.cf-property > .cf-field-key-type {
    // padding-left: 24px;
}

.cf-property > .cdk-column-value {
    vertical-align: inherit;
}