<cf-crud-list  
    *ngIf="configListData && configListData.records && display == 'LIST'"
    [identifier]="identifier" 
    [header]="header" 
    [actions]="actions" 
    [actionPages]="actionPages"

    [listReset]="listReset"
    [quickLinks]="quickLinks" 
    [searchConfig]="searchConfig" 
    [listConfig]="listConfig" 
    [keyMap] = "keyMap"
    [configData]="configListData"  

    (onButtonClick)="buttonClick($event)"
    (onFieldChange)="fieldChange($event)"
    (onFormClick)="formChange($event)"
    (onSortClick)="onSort($event)" 
    (onPageClick)="onPage($event)"
></cf-crud-list>

<cf-crud-form
    *ngIf="configFormData && configFormData.record"
    [identifier]="identifier" 
    [header]="header" 
    [actions]="actions" 
    [actionPages]="actionPages"

    [reset]="reset"  
    [form]="form"  
    [keyMap] = "keyMap" 
    [configData]="configFormData"  

    (onButtonClick)="buttonClick($event)"
    (onFieldChange)="fieldChange($event)"
    (onFormClick)="formChange($event)"    
></cf-crud-form>